@import "../../../scss/index.scss";

.podcasts{

    h4{
        font-family: $titles-font;
        font-size: 20px;
    }
    &__add-podcast {
        text-align: right;
        margin-bottom: 20px;
    }
}