@import "../../../scss/index.scss";

:root{
    --animation-curve: cubic-bezier(1,0,0,1);
}

.navbar{

    .show-menu{
        display: block;
        position: absolute;
        width: 555px;
        height: 700px;
        transition: width 0.5s, height 0.5s ease-in;
    }

    .hide-menu{
        width: 106px;
        height: 106px;
        transition: width 0.5s, height 0.5s ease-out;
    }

    .show-text{
        position: relative;
        left: 0px;
        transition: left 0.6s, margin-right 0.6s ease-in;
    }

    .hide-text{
        position:relative;
        left: -5000px;
        transition: left 1s ease-out;
    }

    &__hamburguer-menu{
        width: 106px;
        height: 106px;
        position:absolute;
        background-color: $RM-dark-green;
        justify-content: center;
        align-items: center;
        
        .top{
            top: 38px;
            left: 33px;
            width: 40px;
            height: 6px;
            background-color: $RM-white;
            position: absolute;
            cursor: pointer;
            transform-origin: left top;
            transform: rotateZ(0deg);
            transition: all 0.6s var(--animation-curve);
            z-index: 1;
        }
        .middle{
            top: 38px + 6px + 6px;
            left: 33px;
            width: 40px;
            height: 6px;
            background-color: $RM-white;
            position: absolute;
            cursor: pointer;
        }
        .bottom{
            top: 38px + 6px + 18px;
            left: 33px;
            width: 30px;
            height: 6px;
            background-color: $RM-white;
            position: absolute;
            cursor: pointer;
            transform-origin: left bottom;
            transform: rotateZ(0deg);
            transition: all 0.6s var(--animation-curve);
            z-index: 1;
        }

        &:hover{
            .middle{
                width:30px;
            }

            .bottom{
                width: 40px;
            }
        }


        #toggle:checked ~ .top{
            background-color: $RM-white;
            transform: rotateZ(41deg);
        }

        #toggle:checked ~ .middle{
            background-color: $RM-dark-green;
        }

        #toggle:checked ~ .bottom{
            background-color: $RM-white;
            transform: rotateZ(-41deg);
            width: 40px;
        }

        #toggle ~ .middle{
            transition: all 0.5s var(--animation-curve);
        }

        input{
            display: none;
        }

        ul{
            font-family: $titles-font;
            padding-top: 150px;
            padding-bottom: 70px;
            text-align: right;
            font-size: 40px;
            text-decoration: none;
            list-style-type: none;
    
            li{
                margin-right: 90px;
                margin-bottom: 20px;
                
                a{
                    color: $RM-white;
                }
    
                a:hover{
                    color: $RM-green;
                }
            }
        }
        
    }
    &__logo{
        position: absolute;
        display: inline-block;
        margin-left: 106px;
        width: 449px;
        height: 106px;
        background-color: $RM-white;
        
        .letters{
            width: 350px;
            height: auto;
            margin-left: 44px;
            margin-top: 35px;
        }

        .icon{
            position: relative;
            width: 20px;
            height: auto;
            top: -2px;
            right: 5px;
            -webkit-transition: -webkit-transform 0.5s;
        }

        &:hover .icon{
            -webkit-transform: rotate(360deg) translateZ(0);
        }
    }
    
}

