@import "../../../../scss/index.scss";

.categories-list{
    font-family: $titles-font;

    &__header {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__items {
        background-color: #fff;
        padding: 1% 2% 2% 2%;

        .List{
            position: relative;
            
            .draggable{
                width: 100%;
                background-color: rgba(255,255,255,0.5);
                border-bottom: 1px solid rgba(0,0,0,0.1);

                &:hover {
                    cursor: pointer;
                }

                &.dragged{
                    border: 1px solid #e2e2e2;
                    padding: 0 10px;
                }
            }
        }

        .ant-list-item-action{
            @media (max-width: $s-phone){
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%
            }
        }

        .ant-list-item-meta {
            display: flex;
            align-items: center;

            @media (max-width: $s-phone-s){
                display: block;
                &-avatar{
                    text-align: center;
                    padding-left: 8%;
                }
                &-title{
                    margin: 5% auto 2% auto;
                    text-align: center;
                }
            }

            &-title{
                margin-left: 3%;
            }
        }
    }
}