//import font styles
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@400;600;700&display=swap');

//font size
$defaultFontSize: 16px;

//font styles
$titles-font: "Syne", "sans-serif";
$body-font: "Questrial", "sans-serif";

//institutional colors
$RM-white: #ffffff;
$RM-grey: #ebeded;
$RM-green: #00D762;
$RM-green-transparent: rgba(0,215,98,0.5);
$RM-dark-green: #061f1f;
$RM-red: #ff4550;
$RM-dark-grey: #707070;

//background colors
$background-error: rgba(230,139,139,0.2);
$background-success: rgba(174,218,180,0.2);

//alert colors
$success: #84b84c;
$error: rgb(231,69,69);
$warning: orange;

//social media colors
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$whatsapp: #62cd56;
$whatsapp-hover: #53b348;
$messenger: #3499f7;
$pinterest: #e20020;
$instagram: #9e41ae;
$spotify: #1dd155;
$apple-podcast: #b538dd;

//responsive screen sizes
$s-4k: 2000px;
$s-large: 1440px;
$s-laptop: 1024px;
$s-tablet: 768px;
$s-phone: 576px;
$s-phone-m: 390px;
$s-phone-s: 320px;
