//import font styles

//font size
$defaultFontSize: 16px;

//font styles

//font colors

//institutional colors

//border colors

//background colors
$background-error: rgba(230,139,139,0.2);
$background-success: rgba(174,218,180,0.2);

//alert colors
$success: #84b84c;
$error: rgb(231,69,69);
$warning: orange;

//social media colors
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$whatsapp: #62cd56;
$whatsapp-hover: #53b348;
$messenger: #3499f7;
$pinterest: #e20020;
$instagram: #9e41ae;

//responsive screen sizes

